<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информационно-справочная система онлайн-школы</title>
    <header th:replace="index::head"></header>
</head>

<body>
<div class="container mt-5">
    <h1 class="text-center mb-4">Информационно-справочная система онлайн-школы</h1>
    <h2 class="text-center mb-4">Преподаватели</h2>

    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link btn btn-light me-2" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-light me-2" href="/about">Об авторе</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-light me-2" href="/students">Ученики</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-light me-2" href="/courses">Курсы</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row mb-4">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Общее количество преподавателей</h5>
                    <p class="card-text" th:text="${teacherCount}"></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Минимальный опыт работы</h5>
                    <p class="card-text" th:text="${minExperience}"></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Максимальный опыт работы</h5>
                    <p class="card-text" th:text="${maxExperience}"></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Средний опыт работы</h5>
                    <p class="card-text" th:text="${#numbers.formatDecimal(avgExperience, 1, 2)}"></p>
                </div>
            </div>
        </div>
    </div>


    <div class="row mb-4">
        <div class="col-md-8 offset-md-2">
            <h3 class="mb-3">Поиск преподавателя по любому критерию:</h3>
            <form th:action="@{/teachers}" class="d-flex">
                <input type="text" name="keyword" id="keyword" class="form-control me-2" th:value="${keyword}" required/>
                <button type="submit" class="btn btn-primary">Поиск</button>
                <button type="button" class="btn btn-secondary ms-2" onclick="clearSearch()">Очистить</button>
            </form>
        </div>
    </div>

    <table id="teacherTable" class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">ID преподавателя</th>
            <th scope="col">Фамилия преподавателя</th>
            <th scope="col">Имя преподавателя</th>
            <th scope="col">Отчество преподавателя</th>
            <th scope="col">Почта преподавателя</th>
            <th scope="col">Телефон преподавателя</th>
            <th scope="col">Специализация</th>
            <th scope="col">Опыт работы</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher: ${teacherList}">
            <td th:text="${teacher.ID}"></td>
            <td th:text="${teacher.lastName}"></td>
            <td th:text="${teacher.firstName}"></td>
            <td th:text="${teacher.surname}"></td>
            <td th:text="${teacher.email}"></td>
            <td th:text="${teacher.phone}"></td>
            <td th:text="${teacher.specialization}"></td>
            <td th:text="${teacher.experience}"></td>
            <td>
                <div class="d-flex gap-2">
                    <a th:href="@{'/delete_teacher/' + ${teacher.ID}}" class="btn btn-danger btn-sm">Удалить</a>
                    <a th:href="@{'/edit_teacher/' + ${teacher.ID}}" class="btn btn-primary btn-sm ms-2">Редактировать</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="text-center mt-4">
        <a href="/new_teacher" class="btn btn-primary">Добавить преподавателя</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/teachers}]]"
    }
    $(document).ready(function () {
        $('#teacherTable').DataTable({
            "searching": false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/Russian.json"
            }
        });
    });
</script>
</body>

</html>